.common {
    margin: 20px auto;
    text-align: center;
  }

  .main-header {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
  }

  .common-border {
    background: #ff4a57;
    height: 3px;
    width: 100px;
    margin: 30px auto;
  }

.num-pages {
    text-align: center;
    margin: auto;
}

.next {
    text-align: end;
}

.action {
    text-align: center;
}

h1 {
    font-size: 35px;
}

.search-container {
    width: 250px;
	height: 25px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
    padding: 20px;
    margin: auto;
    float: right;
}

.search-icon {
    font-size: 15px;
	color: #1f2235;
}

.search-input {
    flex: 1;
    height: 40px;
	border: none;
	outline: none;
	padding-left: 10px;
}

th, .name {
    cursor: pointer;
}

table {
    color: white;
}

button {
    border-radius: 30px;
    color: #fff;
}

.btn-success {
    width: 200px;
    height: 40px;
}

.prev button, .next button, .action button {
    width: 100px;
    margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
    .container {
        width: fit-content;
        padding: 50px 10px;
    }

    .search-container, .btn-success, .action button {
        width: 100%;
        margin-bottom: 10px;
        font-size: xx-small;
    }

   

    .search-container,
    .next button {
        float: none;
    }

    .col {
        text-align: center;
    }

    .action button,
    .prev button,
    .next button {
        margin-bottom: 10px;
        font-size: xx-small;
        width: 50px;
    }

    .table {
        font-size: x-small;
    }
}