.common {
    margin: 20px auto;
    text-align: center;
  }

  .main-header {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
  }

  .common-border {
    background: #ff4a57;
    height: 3px;
    width: 100px;
    margin: 30px auto;
  }

  .button {
      text-align: center;
  }

  button {
    margin-top: 30px;
    border-radius: 30px;
    color: #fff;
    width: 150px;
  }

  
  .ed-box {
    padding: 30px;
    background: #23263a;
    color: #fff;
    width: 80%;
    margin: auto;
    border-radius: 8px;
  }

  .ed-box__header {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }

  .ed-box__info {
    margin-top: 20px;
  }

  strong {
    color: #ff4a57;
  }

  p {
    font-size: 14px;
    margin-top: 3px;
  }

  .col-sm-12, .col-12 {
    text-align: center;
  }

  @media screen and (max-width: 576px) {
    .container {
        width: fit-content;
        padding: 50px 10px;
    }

}